footer {
    background: #3c3f43;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
}

footer nav {
    display: inline-block;
    margin: 0 auto;
}

footer nav ul li a {
    color: white;
}